<div class="sign-up-container">

<h1>Sign Up!</h1>
<%= flash.now[:error] %>

<%= form_for @user do |f| %>

  <%= f.text_field :name, placeholder: "Name", class: "user-input" %>
<br>

  <%= f.text_field :email, placeholder: "Email", class: "user-input" %>
<br>

  <%= f.password_field :password, placeholder: "Password", class: "user-input" %>
<br>

  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "user-input" %>
<br>
  <%= f.submit nil, :class => "new-user"%>
<% end %>
</div>
