<div class='posts'>
<% @posts.each do |post| %>

    <span class='vote'>
      <span id = "post-vote-<%=post.id%>">
        <% if already_voted?(post)%>
            <%=post.score %> |
          <%else%>
            <%= post.score %> |
            <%= link_to image_tag("caret8.png", :border => 0), votes_path(post_id: post.id), method: :post, remote: true%>
          <%end%>
      </span>
    </span>
  <img src="/assets/dalek_1.png"></img>
  <%= link_to post.title, post_path(post) %>

  <p><%= post.body %></p>
<% end %>
</div>
