

<table class="choice-post">
  <tr>

    <td>
      <span class = "vote">
          <span id = "post-vote-<%=@post.id%>" class="vote-number">
            <% if already_voted?(@post)%>
              <h2><%= @post.score %></h2></td>
            <% else %>
            <td>
              <%= link_to image_tag("caret8.png", :border => 0), votes_path(post_id: @post.id), method: :post, remote: true%>
            </td><td><h2><%= @post.score %></h2></td>
            <% end %>
          </span>
      </span>
    </td>

    <td>

      <h1><%= @post.title %></h1>
      <p><%= @post.body %></p>
    </td>

  </tr>
</table>
<div class='single-post'>
  <h3>Comments</h3>
  <ul id="comments">
    <%= form_for @comment, :url=> post_comments_path(:post_id => @post.id), class: "comment-submit" do |f| %>
    <li>
      <% f.label :content %>
      <%= f.text_area :content, class: "comment-submit" %>
    </li>
    <li>
      <%= f.submit "Submit", class: "comment-button" %>
    </li>
    <% end %>
  </ul>


<table class= "comment-table">
  <% @post.comments.each do |comment| %>
  <tr>
    <td>
      <img src="/assets/dalek_<%=rand(2..6)%>.png"></img>
    </td>

    <td>
      <span class = "vote">
        <span id = "comment-vote-<%=comment.id%>">
          <% if already_voted?(comment)%>
            <%= comment.score %>
          <% else %>
          <%= link_to image_tag("caret8.png", :border => 0), votes_path(comment_id: comment.id), method: :post, remote: true%> <%= comment.score %>
          <% end %>
        </span>
      </span>
    </td>

    <td>
      <p><%= comment.content %>
        <% if current_user.id == comment.user_id %>
        <span id="edit_buttons">
          <%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png", size:"20x20"), edit_post_comment_path(comment.post, comment) %>
          <%= link_to image_tag("http://png-4.findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png", size:"23x23"), post_comment_path(comment.post, comment), :method => :delete %></p>
        </span>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

</div>
