<!DOCTYPE html>
<html>
<head>
  <title>Anonymous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <% if current_user %>
      <%= link_to 'Logout', logout_path  %>
  <% else %>
      <a href="/signup">Signup</a> | <a href="/login">Login</a>
  <% end %>

  <span><%= link_to 'Home', root_path%></span>

</div>

  <%= yield %>

</body>
</html>
